<ion-view view-title="Notifications">
  <ion-content>
      <h2 class="space">Chatting with John Doe</h2>
      <p class="tab" >Topic: Is there a bus going to no frills?</p>



      <div class="list list-inset">

        <div class="item ">
            <div class="text-left show-all-text">
                John Doe: Hi, I was wondering if there was a bus that went to no frills?
            </div>
            <div class="text-right">
                You: no
            </div>


            <div class="text-left ">
                John Doe: darn
            </div>



        </div>





    </div>


  </ion-content>

  <label class="item item-input list-inset stick-to-bottom " >
      <input type="text" placeholder="Message...">
      <button class="button button-dark">Send Message</button>
  </label>

</ion-view>
