<ion-view view-title="Live Chat">
  <ion-content>

      <ul class="list">
        <li class="item dark-grey-background">
            <h2>Chatting with John Doe</h2>
            <p>Topic: Is there a bus going to no frills?</p>
        </li>
      </ul>

      <div class="card">
          <div class="item item-text-wrap">
              <div class="text-left show-all-text">
                  John Doe: Hi, I was wondering if there was a bus that went to no frills?
              </div>
          </div>

                     <div class="item item-text-wrap">

                         <div class="text-right">
                              no
                         </div>
                     </div>
                     <div class="item item-text-wrap">


                         <div class="text-left">
                             John Doe: darn
                         </div>
                     </div>
       </div>


   </div>

  </ion-content>

  <label class="item item-input list-inset stick-to-bottom " >
      <input type="text" placeholder="Message...">
      <button class="button button-dark">Send</button>
  </label>

</ion-view>
