<ion-view view-title="Notifications">
  <ion-content>

    <div class="card">
        <div class="item item-divider">
          <h2>Waiver Status </h2>
        </div>
       <div class="item item-text-wrap">
           <div class="row">
               <div class="col col-10">
                   <span class="ion-checkmark-round green big-checkmark"></span>
               </div>

               <div class="col">
                   You have signed the participation waiver, and are cleared to participate in the TrickOrEat event.
               </div>

           </div>
       </div>
     </div>

     <div class="card">
         <div class="item item-divider">
             <h2>My Info</h2>
         </div>
         <div class="item item-text-wrap">
            <div class="list">

                <div class="item">
                  Name: John doe
                </div>
                <div class="item">
                  Email: johndoe@yahoo.com<br />
                </div>
                <div class="item">
                  Account role: Participant
                </div>


            </div>



         </div>
     </div>

    <!--


     <h3>My Basic Info</h3>
     Name:
     Email:
     Type:

     <h3>My Teams Info</h3>-->

  </ion-content>

</ion-view>
