<ion-view view-title="Routes">
    <ion-content ng-init="init()">
        <h1>Routes</h1>
          <ion-list>
            <div id="{{route.routeID}}" ng-repeat="route in routes">
              <ion-item class="item-stable" ng-click="toggleAccordion(route)" ng-class="{active: isAccordionOpen(route)}">
                <i class="icon" ng-class="isAccordionOpen(route) ? 'ion-minus' : 'ion-plus'"></i>
                &nbsp;
                {{route.route}}
                <div class="route-icons">
                  <i ng-if="route.bus" class="fa fa-bus"></i>
                  <i ng-if="route.accessible" class="fa fa-wheelchair"></i>
                </div>
              </ion-item>
                <ion-item class="item-accordion" ng-show="isAccordionOpen(route)">
                    {{route.start}}
                </ion-item>
              <ion-item class="item-accordion" ng-show="isAccordionOpen(route)" ng-repeat="teams in route.team">
                {{teams.name}}
              </ion-item>
              <div id="map" data-tap-disabled="true" ng-if="isAccordionOpen(route)"></div>
            </div>
          </ion-list>
    </ion-content>

</ion-view>
