<ion-view view-title="Routes">
    <ion-content ng-init="init()" style="padding:10px;">
        <h1>Routes</h1>
          <ion-list>
            <div id="Route{{route.id}}" ng-repeat="route in routes">
              <ion-item class="item-stable" ng-click="toggleAccordion(route)" ng-class="{active: isAccordionOpen(route)}">
                <i class="icon" ng-class="isAccordionOpen(route) ? 'ion-minus' : 'ion-plus'"></i>
                &nbsp;
                {{route.name}}
                <div class="route-icons">
                  <i ng-if="route.routeType[0] == 1 && route.routeType.length == 3" class="fa fa-car"></i>
                  <i ng-if="(route.routeType[1] == 1 && route.routeType.length == 3) || (route.routeType[0] == 1 && route.routeType.length == 2)" class="fa fa-male"></i>
                  <i ng-if="(route.routeType[2] == 1 && route.routeType.length == 3) || (route.routeType[1] == 1 && route.routeType.length == 2) || (route.routeType[0] == 1 && route.routeType.length == 1)" class="fa fa-bus"></i>
                  <i ng-if="route.accessibility == 1" class="fa fa-wheelchair"></i>
                </div>
              </ion-item>
                <ion-item class="item-accordion" ng-show="isAccordionOpen(route)">
                    {{route.waypoints}}

                </ion-item>
                <ion-item class="item-accordion" ng-show="isAccordionOpen(route)">
                    {{route.team}}

                </ion-item>

                    <div id="map" data-tap-disabled="true" ng-if="isAccordionOpen(route)"></div>
          </div>
          </ion-list>
    </ion-content>

</ion-view>
