<ion-view view-title="Team">
  <ion-content style="padding:10px;">
    <ion-item class="item-stable" id="teaminfo" ng-click="toggleTeamAccordion(teaminfo)" ng-class="{active: isTeamAccordionOpen(teaminfo)}">
        <i class="icon" ng-class="isTeamAccordionOpen(teaminfo) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Team Info
      <i ng-if="route.accessible" class="fa fa-wheelchair"></i>
    </ion-item>
    <ion-item class="item-accordion" ng-show="isTeamAccordionOpen(teaminfo)">
      <b>Team Name: </b> The Breakfast Club<br/><br/>
      <b>Team Members:</b><br/>
      <p>

        <table>
          <tr>
            <td class="cell-pad"><b>(C)</b> Alex Eck</td>
            <td class="cell-pad">aeckensw@uoguelph.ca</td>
          </tr>
          <tr>
            <td class="cell-pad">Drew Downie</td>
            <td class="cell-pad">drew@drewmail.ca</td>
          </tr><tr>
            <td class="cell-pad">Bran Lacey</td>
            <td class="cell-pad">blace@uoguelph.ca</td>
          </tr><tr ng-if="role==='captain' || role==='admin'">
            <td class="cell-pad"><label class="item item-input">
              <input type="text" placeholder="Name">
            </label></td>
            <td class="cell-pad"><label class="item item-input">
              <input type="text" placeholder="Email">
            </label></td>
          </tr>
        </table>
        <a class="button button-positive button-full" ng-if="role==='captain' || role==='admin'" >Send Invite</a>
      </p>
    </ion-item>

    <ion-item id="routeinfo" class="item-stable" ng-click="toggleRouteAccordion(routeinfo)" ng-class="{active: isRouteAccordionOpen(routeinfo)}">
        <i class="icon" ng-class="isRouteAccordionOpen(routeinfo) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Route Info
      <i ng-if="route.accessible" class="fa fa-wheelchair"></i>
    </ion-item>
    <ion-item class="item-accordion" ng-show="isRouteAccordionOpen(routeinfo)">

      <b>Route(s): </b> Route 2, Route 5<br/><br/>

      <a class="button button-positive button-full" href="#/app/addroute">Choose Route(s)</a><br/>

      <img id="img" src="img/map.gif" width="100%"> </img><br /><br />

      <b>Bus: </b> 1A<br/><br/>

      <b>Accessible: </b> Yes<br/><br/>
    </ion-item>
  </ion-content>
</ion-view>
