<ion-view view-title="Team" cache-view="false">
  <ion-content style="padding:10px;">
    <ion-item class="item-stable" id="teaminfo" ng-click="toggleTeamAccordion(teaminfo)" ng-class="{active: isTeamAccordionOpen(teaminfo)}">
      <i class="icon" ng-class="isTeamAccordionOpen(teaminfo) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Team Info
      <i ng-if="route.accessible" class="fa fa-wheelchair"></i>
    </ion-item>
    <ion-item class="item-accordion" ng-show="isTeamAccordionOpen(teaminfo)">
      <div ng-if="show === 1">
        <div style="border:1px solid grey;background:limegreen;padding:10px;">
          <h2>Invite Sent!</h2>
        </div><br/>
      </div>
      <b>Team Name: </b> {{team['data'][0]['name']}}<br/><br/>
      <b>Team Members:</b><br/>
      <p>
        <table>
            <tr ng-repeat="members in teamMembers['data']">
              <td class="cell-pad">{{members['name']}} <span ng-if="members['type'] === 1">(C)</span></td>
              <td class="cell-pad">{{members['email']}}</td>
            </tr>
          <tr ng-repeat="i in getNumber(number) track by $index">
            <td class="cell-pad"><label class="item item-input">
              <input type="text" placeholder="Name" ng-model="teamAdd[$index].name">
            </label></td>
            <td class="cell-pad"><label class="item item-input">
              <input type="text" placeholder="Email" ng-model="teamAdd[$index].email">
            </label></td>
          </tr>
        </table>
        <a class="button trick-button button-full" ng-click="newMember()" >Send Invite</a>
      </p>
    </ion-item>

    <ion-item id="routeinfo" class="item-stable" ng-click="toggleRouteAccordion(routeinfo)" ng-class="{active: isRouteAccordionOpen(routeinfo)}">
      <i class="icon" ng-class="isRouteAccordionOpen(routeinfo) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Route Info
      <i ng-if="route.accessible" class="fa fa-wheelchair"></i>
    </ion-item>
    <ion-item class="item-accordion" ng-show="isRouteAccordionOpen(routeinfo)">

      <b>Route(s): </b> <br/>

      <table>
          <tr ng-repeat="routes in teamRoutes['data']">
            <td class="cell-pad">{{routes['name']}}</td>
          </tr>
      </table>

      <a class="button trick-button button-full" href="#/app/addroute">Choose Route(s)</a><br/>

      <img id="img" src="img/map.gif" width="100%"> </img><br /><br />

      <b>Bus: </b> 1A<br/><br/>

      <b>Accessible: </b> Yes<br/><br/>
    </ion-item>
  </ion-content>
</ion-view>
