<ion-view view-title="Teams">
  <ion-content class="padding">
    <h1>Teams</h1>
    <label class="item item-input">
      <span class="input-label">Search&nbsp;<i class="fa fa-search"></i></span>
      <input type="text" ng-model="searchText">
    </label>
    <br/>
    <ion-list>
      <div ng-repeat="team in teams | filter:searchText">
        <a ng-click="goToTeam(team)">
          <ion-item class="item-stable">
            &nbsp;
            {{team.name}}
            <div class="route-icons">
              <i ng-if="team.type===1" class="fa fa-user-secret"></i>
            </div>
          </ion-item>
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
