/* Empty. Add your own CSS if you like */
.error {
  color: red;
}

.error .validation-message {
  border-top: 6px solid red;
}

.validation-message {
  padding: 0.25em;
  font-size: 16px;
}

.validation-icon  {
  margin-right: 0.5em;
  font-size: 20px;
}


a:link {
    text-decoration: none;
}

.right {
  text-align: right;
}

/* MENU */
.notification-icon{
    position: absolute !important;
    top: -3px;
    right: 14px;
    height: 16px;
    width: 16px;
    padding-top: 0px;
    padding-left:4px;
}

/* ROUTES */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.scroll {
  height: 100%;
}
.route-icons {
  float: right;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:20em;
}

/* NOTIFICATIONS */
.half-width{
    width: 50%;
}

.show-all-text{
    overflow: visible !important;
    text-overflow: initial !important;
    white-space: initial !important;
}

.darken-every-other:nth-child(2){
      background: #eeeeee;
}
